<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="TicketsModel"
         connectionString="Server=80691b3d-cc24-481e-be5f-a82700e79ea8.sqlserver.sequelizer.com;Database=db80691b3dcc24481ebe5fa82700e79ea8;User ID=nfnchajvuouizvqz;Password=ukpr7pj5mSVMrg2sSjbWZL6a2uGKPzMqSx6aH3YqdH3HnSGRPCKUWYeRnpyLPGpT;"
  providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>